<h1>WEBLAB Tech-Radar</h1>

<nav>
  <a routerLink="/">Radar</a>
</nav>

<hr />

<div>
  <button (click)="check()">Health check (public)</button>
  <pre *ngIf="resp">{{ resp | json }}</pre>
</div>

<hr>

<div style="margin-top:1rem">
  <ng-container *ngIf="(isAuth$ | async); else loggedOut">
    <p>Eingeloggt ✔️</p>
    <button (click)="checkSecure()">Test /api/secure/me</button>
    <pre *ngIf="secureResp">{{ secureResp | json }}</pre>
    <button (click)="logout()">Logout</button>

    <h3>Profil</h3>
    <pre>{{ (user$ | async) | json }}</pre>

    <ng-template #loggedOut>
      <button (click)="login()">Login</button>
    </ng-template>
  </ng-container>

  <ng-template #loggedOut>
    <p>Nicht eingeloggt.</p>
    <button (click)="login()">Login</button>
  </ng-template>
</div>

<hr />

<router-outlet></router-outlet>