# general
.DS_Store
node_modules/
dist/
build/
coverage/
.angular/
.env
.env.*

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# Angular
frontend/.angular/cache

# Docker
docker-data/
